body{
  background-color: #f5f8ff;
}
/* Header Section */
header{
  background-image: url(Images/Hero-bg.png);
}

/*nav bar*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo{
  font-size: 35px;
  font-weight: bolder;
  margin-left: 20px;
  
}
.g{
  color: lightskyblue;
}


/*btn*/
.btn{
  padding: 15px;
  background-color: #1597FC;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover{
  background-color: red;
  color: white;
}

.style{
  text-align: center;
  margin-top: 50px;
  padding-bottom: 200px;
}

/*Main Section*/

.main {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

/* Action Section*/
.action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 30px;
}
.act{
  padding-right: 120px;
}
.img{
  border-radius: 50px;
}
.sub-title{
  color: #7C7C7C;
}


/*Productive User Section*/
.pro{
  background-color: #DCDEFC;
  border-radius: 20px;
padding: 30px;
  text-align: center;
}
.pro h1{
  margin-bottom: 0px;
}
.product{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.size{
  font-size: 50px;
  margin-bottom: 0;
  font-weight: 900;
  color: #2A61FA;
}
.less-gap{
  margin-bottom: 0px;
}
.small{
  margin: 0;
}

/* Landing Launchpad Start* */
.sct{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #DCDEFC;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.txt{
  padding: 50px;
  font-size: 30px;
  color: #292929;
}
.extra-style{
 font-size: 16px;
 font-weight: 600;
margin-bottom: ;
}

input[type="email"] {
  border-radius: 5px;
  height: 35px;
  width: 100%;
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  margin-top: 5px;
}
input[type="text"] {
  border-radius: 5px;
  height: 35px;
  width: 100%;
  background-color: white;
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  margin-top: 5px;
}
textarea{
  border-radius: 5px;
height: 60px;
width: 100%;
background-color: white;
padding: 5px;
margin-bottom: 5px;
border: none;
margin-top: 5px;
}
.button{
  border-radius: 5px;
height: 35px;
width: 100%;
background-color: white;
padding: 5px;
border: none;
font-weight: 800;
cursor: pointer;
font-size: 16px;
background-color: #1676F7;
color: white;
}
button:hover{
  background-color: orangered;
  color: white;
}


/*Footer Section Start*/
.ttl{
  color: #2C4FFF;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 10px;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 250px;
  padding-right: 250px;
  margin-bottom: 100px;
}
a{
  text-decoration: none;
  color: #292929;
}
li a {
  background-color: transparent;
}
li a:hover{
  background-color: #4554FF;
  color: white;
}
.foot-text{
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 0px;
}