/* Header Section */
header{
  background-image: url(Images/Hero-bg.png);
}

/*nav bar*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo{
  font-size: 35px;
  font-weight: bolder;
  margin-left: 20px;
  
}
.g{
  color: lightskyblue;
}


/*btn*/
.btn{
  padding: 15px;
  background-color: #1597FC;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover{
  background-color: red;
  color: white;
}

.style{
  text-align: center;
  margin-top: 50px;
  padding-bottom: 200px;
}

/*Main Section*/

.main {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

/* Action Section*/
.action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 30px;
}
.act{
  padding-right: 120px;
}
.img{
  border-radius: 50px;
}
.sub-title{
  color: #7C7C7C;
}


/*Productive User Section*/
.pro{
  background-color: #ECE7F9;
  border-radius: 20px;
padding: 30px;
  text-align: center;
}
.pro h1{
  margin-bottom: 0px;
}
.marg{

}
.product{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.size{
  font-size: 50px;
  margin-bottom: 0;
  font-weight: 900;
  color: #2A61FA;
}
.less-gap{
  margin-bottom: 0px;
}
.small{
  margin: 0;
}